/**
 * @name Fix Discord's Theme
 * @author Reabstraction
 * @version 1.0.1
 * @description (WINDOWS-ONLY) Fixes some issues I have with the Discord UI
 */

html.platform-win {
    /*
     Matches Windows 10/11
     Default: 46px
     */
    --window-button-width: 46px;
    /*
     Matches Windows 10/11
     Default: 48px
     */
    --window-button-full-height: 48px;


    --elevation-low: 0;

    & {
        --scrollbar-thin-thumb: var(--background-primary) !important;
    }

    & .titleBar__710b0 {
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        --height: 31px;
        height: var(--height);
    }

    & .winButton_f17fb6 {
        top: 0px;
        height: var(--height);
        width: 46px;
        transition: background .1s ease-in-out, color .05s ease-in-out;
        color: var(--interactive-normal);
    }

    /* &.app-focused .titleBar__710b0>*, */
    & .winButton_f17fb6 {

        &:hover,
        &:active {
            color: var(--interactive-active);
            background: var(--background-modifier-hover);
        }

        &:active {
            background: var(--background-modifier-selected);
        }
    }

    & .winButtonMinMax_caf9c8[aria-label="Minimize"] {
        margin-left: auto;
        order: 1;
    }

    & .winButtonMinMax_caf9c8[aria-label="Maximize"] {
        order: 2;
    }

    & .winButtonClose__6396d {
        order: 3;

        &:hover {
            background: var(--red-460) !important;
        }

        &:active {
            background: var(--red-400) !important;
        }
    }

    & .wordmarkWindows_ffbc5e {
        position: inherit;
        order: 0;
        margin-right: auto;
        transition: color .05s ease-in-out;
        color: var(--interactive-normal);
        -webkit-app-region: drag;
    }

    & .standardSidebarView__12528 {
        background: var(--bg-overlay-app-frame, var(--background-tertiary));
    }

    & .sidebarRegion__36437 {
        max-width: 250px;
    }

    & .sidebarRegionScroller__8113e {
        background: transparent;
        width: 100%;
        /* min-width: 240px; */
        padding: 0 !important;
        scrollbar-width: thin;
    }

    & .sidebar__02e8d {
        padding: 12px;
        padding-left: 20px;
        /* account for thin scrollbar */
        width: 100%;
    }

    & .contentRegion__08eba {
        border-top-left-radius: 8px;
        overflow: hidden;

        flex: 1 1 100000px;
    }

    & .base_c0676e {
        border-top-left-radius: 8px !important;
    }

    & .contentRegionScroller__9ae20 {
        display: flex;
        align-items: center;
        flex-direction: column;

        & .toolsContainer__4e6ad {
            position: absolute;
            right: 0;
            top: 12px;
            left: auto;
            padding: 0;
            margin: 0;

            & .keybind_a619c1 {
                display: none;
            }
        }
    }

    & .notice_a687ab {
        border-top-left-radius: 0px;
    }

    & body:has(:is(.chat__52833, .container__26baa)):not(:has(.stop-animations)) {

        & .header__77c95,
        & .searchBar__621ec {
            box-shadow: none;
        }

        & .container__26baa {
            /* width: calc(100% - var(--window-button-width, 46px)); */
            background: var(--background-tertiary);

            body:not(:has(.callContainer__1477d)) {
                -webkit-app-region: drag;
            }

            body:has(.callContainer__1477d):not(:has(.videoGrid__6c223)) & {
                right: calc(var(--window-button-width, 46px) * 3) !important;
            }
        }

        &:has(.videoGrid__6c223) {
            & .callContainer__1477d {
                overflow: hidden;

                &>.root__3eef0 {
                    top: -48px;
                    background: transparent;
                }
            }

            & .callContainer__1477d::before {
                background: var(--background-tertiary);
                content: "";
                top: 0;
                width: 100%;
                position: relative;
                z-index: 0;
                display: block;
                left: 0px;
                height: 48px;
            }

            & .topControls_e834ab {
                box-sizing: border-box;
                /* right: calc(var(--window-button-width, 46px) * 3) solid var(--background-tertiary); */
                margin: 0;
                padding: 0;
                width: 100%;
                background: var(--background-tertiary);
                width: calc(100% - var(--window-button-width, 46px) * 3 + 20px);
                display: block;
                transform: none;
                opacity: 1;
                pointer-events: all;
            }

            & .bottomControls__72d8d {
                opacity: 1;
                transform: none;
            }

            & .gradientTop_e30d42,
            & .gradientBottom__2e72c {
                display: none;
            }

            & [aria-label="Show Chat"] {
                opacity: 1;
                transform: none;
                z-index: 1;
                right: calc(var(--window-button-width, 46px) * 3 + 12px);
            }
        }

        & .subtitleContainer_f50402 {
            background: var(--background-tertiary);
        }

        & .searchBar__621ec {
            background: var(--background-tertiary);
            -webkit-app-region: drag;

            & .searchBarComponent__8f95f {
                background: var(--background-primary);
                -webkit-app-region: no-drag;
            }
        }
        
        & .homeWrapperNormal__34a23 > .headerBar__3337a {
            -webkit-app-region: drag;
            width: calc(100% - var(--window-button-width) * 3);
            &::after {
                width: calc(var(--window-button-width) * 3);
                content: "";
                height: 100%;
                position: fixed;
                right: calc(var(--window-button-width) * -3);
                background: var(--background-tertiary);
            }
        }

        & .children_cde9af {
            /* border-right: 1px solid var(--background-primary); */

            &::after {
                display: none;
            }
        }

        & .privateChannels__9b518 {
            background: var(--background-tertiary);

            & .scroller__89969 {
                border-top-left-radius: 8px;
            }
        }

        & .sidebar_e031be {
            border-radius: 0 !important;
        }

        & .typeWindows_e41dab {
            height: 0px;
        }

        & .upperContainer__57565 {
            margin-right: calc(var(--window-button-width) * 3);
        }

        & .base_c0676e {
            border-top-left-radius: 0 !important;
        }

        & .notice__5fd4c {
            margin-right: calc(var(--window-button-width) * 3);
        }

        & .winButton_f17fb6 {
            /* display: fixed; */
            --height: var(--window-button-full-height, 48px);
            top: calc(var(--height) / 2);
            right: 0px;
            height: var(--height);
            width: var(--window-button-width, 46px);
            /* background: var(--background-secondary); */
            z-index: 9999;
            -webkit-app-region: no-drag;

            &::before {
                content: "";
                top: var(--height);
                /* CHANGE: IF THINGS BREAK */
                height: calc(48px - var(--height));
                position: fixed;
                width: var(--window-button-width, 46px);
                -webkit-app-region: drag;
            }

            body:has(.notice_a687ab) & {
                --height: 40px;
            }
        }

        & .wordmarkWindows_ffbc5e {
            /* Prevent overlap */
            display: none;
        }

        & .chat__52833 {
            background: var(--background-tertiary);

            &>.subtitleContainer_f50402 {
                margin-right: calc(var(--window-button-width, 46px) * 3);
                -webkit-app-region: drag;

                body:has(.container__694a1) & {
                    margin-right: 0;
                }

                &>.title_d4ba1a {
                    background: transparent;

                    & .upperContainer__57565 {
                        margin-right: 0;
                    }

                    & .search__07df0 {
                        &>.search_ac353c {
                            &>.searchBar__5a20a {
                                background-color: var(--background-primary) !important;
                            }
                        }
                    }
                }

                & .iconWrapper_de6cd1 *,
                & .iconWrapper_de6cd1 {
                    -webkit-app-region: no-drag;
                }
            }

            z-index: 0;

            &>.content__01e65 {
                border-top: 1px solid var(--background-primary);
                -webkit-app-region: no-drag;

                &::before {
                    box-shadow: none !important;
                }
            }
        }

        & .wrapper__216eb {
            & .scroller_de945b {
                &::before,
                &::after {
                    width: 100%;
                    content: "";
                    display: block;
                    min-height: 8px;
                    -webkit-app-region: drag;
                    pointer-events: all;
                }
            }
        }

        & .container__694a1 {
            & .container__26baa {
                /* right: calc(46px * 3); */
                width: calc(100% - (46px * 3));
            }

            /* margin-top: 48px; */
        }
    }
}